<html>
<body>

    <h1>
        Add a New Produuct.
    </h1>

    <form action="/saveproduct" method="POST">
       <!-- Enter Category Id:
        <input type="text" name="cat_id" id="cat_id" placeholder="Enter Category Id" required></br>-->

        Enter Product Name:
        <input type="text" name="pro_name" id="pro_name" placeholder="Enter Product Name" required></br>
        Enter Category Id
        <input type="text" name="cat_id" id="cat_id" placeholder="Enter Category Id" required></br>

        <button type="submit">Add Product</button>

    </form>

</body>
</html>
